<div class="row">
  <div class="col m6 offset-m3 center">

    <h5>Edit <%= resource_name.to_s.humanize %></h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= render partial: "shared/devisemes" %>

    <div class="input-field">
      <%= f.text_field :name, :id => "name", :class => "validate", :placeholder => "Name", autofocus: true %>
    </div>

    <div class="input-field">
      <%= f.email_field :email, :id => "email", :placeholder => "Email", :class => "validate" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-field">
      <%= f.password_field :password, :id => "password", :placeholder => "New Password (leave blank if you don't want to change it)", :class => "validate", autocomplete: "off" %>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, :id => "password_confirmation", :placeholder => "New Password", :class => "validate", autocomplete: "off" %>
    </div>

    <div class="input-field">
      <%= f.password_field :current_password, :id => "current_password", :placeholder => "Type current password to confirm your change", :class => "validate", autocomplete: "off" %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
    <%= link_to "Back", :back, :class => "btn waves-effect waves-light" %>
  <% end %>
  </div>
</div>
