<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Sign up</h5>

    <%= link_to "Sign up with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn red darken-1" %>
    <br/><br/>
    <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "btn blue darken-4" %>
    <br/><br/>
    <%= link_to "Sign up with GitHub", user_omniauth_authorize_path(:github), class: "btn grey darken-2" %>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render partial: "shared/devisemes" %>

      <div class="input-field">
        <%= f.text_field :name, autofocus: true, :class => "validate", :placeholder => "Name" %>
      </div>

      <div class="input-field">
        <%= f.email_field :email, :class => "validate", :placeholder => "Email" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, autocomplete: "off", :class => "validate", :placeholder => "Password" %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
    <% end %>
  </div>
</div>
