<!--footer-->
   <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">LeonbyDefault</h5>
            <p class="grey-text text-lighten-4">Tonight is a particular honor for me because - let's face it - my presence on this stage is pretty unlikely. But she had a healthy skepticism of religion as an institution.
<br/>Thank you, God Bless you, and God Bless the United States of America.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Google +</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright fupuchu
        <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right" %>
        </div>
      </div>
    </footer>
