<!--navbar-->
  <header>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "My Profile", edit_user_registration_path %></li>
        <li><%= link_to "Projects", project_index_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id="dropdown2" class="dropdown-content">
          <li><%= link_to "My Profile", edit_user_registration_path %></li>
        <li><%= link_to "Projects", project_index_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
  <nav>
  <div class="container">
      <div class="nav-wrapper">
        <!-- change Leon's Bog to something else -->
        <%= link_to "LeonbyDefault", pages_about_path, class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Projects", project_index_path %></li>
          <% if(!user_signed_in?)  %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
            <%= image_tag avatar_url(current_user), class: "circle responsive-img" %>&nbsp;
            <%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i></a>
            </li>
          <% end %>

        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "Projects", project_index_path %></li>
          <% if(!user_signed_in?)  %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown2">
            <%= image_tag avatar_url(current_user), class: "circle responsive-img" %>
            <%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i></a>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
  </nav>
  </header>
