<div class="row">
  <br/>

  <% @projects.each do |project| %>
    <%= link_to project do %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag project.image %>
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">
            <%= project.name %>
          </span>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
