<div class="row">
  <div class="col m6 offset-m3 center">
    <h2>Log In</h2>

    <%= link_to "Log in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn red darken-1" %>
    <br/><br/>
    <%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn blue darken-4" %>
    <br/><br/>
    <%= link_to "Log in with GitHub", user_omniauth_authorize_path(:github), class: "btn grey darken-2" %>



    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render partial: "shared/devisemes" %>

      <div class="input-field">
        <%= f.email_field :email, :id => "email", :class =>"validate", :placeholder => "Email" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, :id => "email", :class =>"validate", :placeholder => "Password", autocomplete: "off" %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Log In</button>
      <%= link_to "Forgot password", new_user_password_path, :class => "btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
