@import "materialize/components/color";
$primary-color: color("blue", "accent-2") !default;
@import "materialize";
@import "toastr";


 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.container {
  width: 95%
}
