<!DOCTYPE html>
<html>
<head>
    <title>LeonbyDefault | Random Stuff</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: "shared/header" %>
  <%= render partial: "shared/message" %>
    <main>
        <div class="container">
        <%= yield %>
        </div>
    </main>
  <%= render partial: "shared/footer" %>
</body>

  <script>
      $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown();
  </script>

</html>
